

body {
    overflow:hidden;/*hide scroll bar*/
}

html, body {
    height: 100%;
}

.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked, .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked, .checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked, .radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
    color: #888;
}

pre {
    display: inline;
  border: none;
  background-color: rgba(0,0,0,0);
}

.navbar {
    margin-bottom:0;
    z-index: 5;
    border-radius: 0;
    opacity:0.8;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ccc;
}

.btn {
    height:45px;
}

.btn-icon{
    padding:9px;
}

.navMenu {
    display: none;
    z-index: 1;
    position:absolute;
    /*opacity:0.8;*/
    width: 100%;
    left: 15px;
    background-color: rgba(255,255,255,0.9);
    padding-bottom: 20px;
}

.nav li a{
    border-radius: 0!important;
}

.navbar-header {
    padding-right: 0px;
    width: 104px;
}

#logo {
    height:150%;
    position:relative;
    top:-7px;
}

.demo-row{
    padding:30px;
}

nav .btn {
    margin-top: 5px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.fullWidth {
    width: 100%!important;
}

#threeContainer {
    top: 0px;
    position: absolute;
}

/*menus*/

#menuWrapper, #scriptView {
    height: 100%;
    z-index: 2;
    position: absolute;
    display: block;
    background-color: rgba(255,255,255,0.8);
    overflow:hidden;
}

#menuWrapper{
    width: 430px;
    right: -430px;/*initially hidden*/
}

#scriptView{
    padding: 30px 20px;
    left:-820px;
    width:820px;
}


.slider-selection {
	background: #BABABA;
}

#STLImportStats {
    display: none;
}

.dropdown-menu {
    margin-top: 0!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.nav-tabs .active a{
    background-color: transparent !important;
    border-bottom-color: transparent!important;
}

.nav-tabs{
    border-width: 0 !important;
}

.nav-tabs li a{
    border-left-width: 1px;
    border-right-width: 1px;
    /*border-color: #DDD;*/
    border-bottom: 2px solid #DDD!important;
    color:#bebebe;
    margin-left: -2px;
    margin-right: -2px;
    margin-top:-2px;
    background-color: rgba(0,0,0,0.03);
}

.nav-tabs li a:hover{
    color:#555;
    background-color: transparent;
}

#jsonInput {
    width: 0;
    height: 0;
    overflow: hidden;
}

#menuContent{
    padding: 30px 30px 100px 30px;
    overflow-y: scroll;
    top: 50px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

hr {
  border-color: #888 -moz-use-text-color #888;
}


#gcodeEditor {
    font-family: Courier, monospace;
    font-size: 13px;
    line-height: 30px;
    height: 400px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    white-space: pre-wrap;
    padding: 15px 0 15px 13px;
    overflow: auto;
}

#gcodeEditor:focus {
    outline-width: 0;
}

#gcodeHighlighter{
    padding: 0 0 0 10px;
    width: 100%;
    margin: 0 0 0 -10px;
    left: -15px;
    display: inline-block;
    background-color: rgba(255, 255, 0, 0.35);
}

.inlineWarning {
    background-color: rgba(255,0,0,0.15);
    padding: 15px 20px;
    margin: 0 0 20px 0;
}

input.intInput, input.floatInput{
    width:20%;
    display: inline;
    padding: 8px 8px;
}

.dropdown-menu{
    border-radius: 0!important;
}

.dropdown-menu, .select2-drop {
    background-color: #fff;
}


.navbar-nav > .open > .dropdown-menu{
    padding: 0!important;
    min-width: 150px;
}

.divider{
    margin-right: 0!important;
    margin-left: 0!important;
    background-color: #676767!important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu li {
    height: 32px;
}

.dropdown-submenu a{
    height: 32px;
    padding-bottom: 16px;
    color: #e1e4e7!important;
    white-space: normal;
}

.dropdown-submenu li:hover{
    background-color: #428bca!important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0;
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
    background-color: #444;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-halfWidth {
    width: 47%;
}

.halfWidth {
    width: 47%;
    display: inline-block;
}

.seventyFiveWidth{
    width: 75%;
    display: inline-block;
}

#navRibbon{
    height: 49px;
    z-index: 1;
    display: block;
    position: absolute;
    margin: 0;
    left: 40px;
    bottom: 35px;
    opacity: 0.75;
}


#navRibbon .btn-ribbon{
    background-color: #444;
    padding: 5px 10px;
    height: 49px;
}

.btn-ribbon span{
    font-size: 28px!important;
    display: block;
    margin-top: 4px!important;
    color: #7C7B7B;
}

.fui-cross{
  color: #B50303!important;
}

.cellsVisible{
    padding-top: 7px!important;
}

.ribbon-selected {
    background-color: #000!important;
}

#navRibbon .btn-ribbon:hover{
    background-color: #000;
}

.btn-imageCustom {
    height: 45px;
    padding-top: 8px;
}

.btn-imageCustom img{
    height: 100%;
}

#manualSelectOrigin {
      padding: 8px 12px 15px 12px!important
}

label {
    font-size: 14px!important;
}

.btn-selected {
    background-color: #8E8E8E;
}
.btn-selected:hover {
    background-color: #8E8E8E;
}

.dropdown-submenu > a {
    white-space: normal!important;
}

.btn-group > .btn {
    background-color: #ccc;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.materialColorSwatch{
    height: 30px;
    width: 100%;
}
.materialColorSwatch>div {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.materialColorSwatch>span{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px;
}

#navViewMenu .dropdown-menu span{
    margin-right:10px;
}

#navViewMenu {
    width: 200px;
}

.CodeMirror {
    opacity: 0.6;
    margin: 0 20px 0 -10px;
    font-size: 10pt;
}

.editComposite, .editMaterial {
    margin-left:20px;
}

.materialListTitle{
      display: inline-flex;
      max-width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.red {
    color:red;
}


.checkbox .icons, .radio .icons, .checkbox input[type="checkbox"].custom-checkbox, .radio input[type="checkbox"].custom-checkbox, .checkbox input[type="radio"].custom-radio, .radio input[type="radio"].custom-radio {
    margin-top: -10px;
    top:50%;
}

.voltageInput, .voltageInput:focus{
    border-color: #f4d313;
}
.capacitance{
    background: #f4d313;
}

.currentInput, .currentInput:focus{
    border-color: #58d68d;
}
.inductance{
    background: #58d68d;
}

.voltageInput, .currentInput {
    margin-left: 15px;
    width: 30%!important;
}

.inlineSwatch{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}

#voltageUnits {
    position: absolute;
    left: 131px;
}
#currentUnits{
    position: absolute;
    left: 245px;
}

.alternatingColorList>label{
    padding-right: 10px;
    padding-left: 15px;
    width: 100%;
}

.alternatingColorList{
    display: inline-block;
    width: 100%;
    height: 35px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.alternatingColorList.evenListItem{
    background-color:#ddd;
}

.dropdown-menu>li>a{
    padding: 6px 9px;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #aaa;
    border-bottom-color: #aaa;
}

#incomingSerialMessage{
    background-color: white;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    position: absolute;
}

.sequenceOutput {
    background-color: white;
    overflow: auto;
    max-height: 200px;
    margin: 10px 10px;
    padding: 5px 10px 20px 10px;
    font-size: 14px;
    font-family: Courier, monospace;
}

.gCodeLineNum {
    margin-right: 20px;
    color: #B7B6B6;
}