<% if (overlapDetected) { %>
    <div class="inlineWarning">Overlapping cells detected, check that hierarchical cells are not placed on top of one another.  Simulation results may be inaccurate.</div>
<% } %>
Simulation Type: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allMaterialClasses[materialClass] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allLattices[cellType].connection[connectionType].type[latticeType].materialClasses || _.keys(allMaterialClasses), function(key){ %>
                <li><a class="appState dropdownSelector" data-property="materialClass" data-value="<%= key %>" href="#"><%= allMaterialClasses[key] %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<a href="#" id="calcConnectivity" class="btn btn-block btn-lg btn-default"><% if(conductorGroups){ %>Re-<% } %>Calculate Connectivity</a><br/>
<% if(conductorGroups){ %>
    Num Connected Conductors: &nbsp;&nbsp<%= _.keys(conductorGroups).length %><br/>
    <% if(_.keys(conductorGroups).length > 0){ %>
        <label class="radio">
            <input type="radio" <% if (visibleConductorGroup == -2){ %>checked<% } %> name="visibleConductorGroup" value="-2" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Show Everything
        </label>
        <label class="radio">
            <input type="radio" <% if (visibleConductorGroup == -1){ %>checked<% } %> name="visibleConductorGroup" value="-1" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Show All Conducting Groups
        </label>
        <% var index = 0;  _.each(conductorGroups, function(groupData, id){ %>
            <label class="radio">
                <input type="radio" <% if (id == visibleConductorGroup){ %>checked<% } %> name="visibleConductorGroup" value="<%= id %>" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Group <%= ++index %>
            </label>
        <% }); %>
    <% } %>
<% } %>