Cell Type: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allLattices[cellType].name %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allLattices, function(cellTypeData, key){ %>
                <li><a class="lattice dropdownSelector" data-property="cellType" data-value="<%= key %>" href="#"><%= cellTypeData.name %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
Cell Connection:&nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allLattices[cellType].connection[connectionType].name %>-Connected<span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allLattices[cellType].connection, function(connectionTypeData, key){ %>
                <li><a class="lattice dropdownSelector" data-property="connectionType" data-value="<%= key %>" href="#"><%= connectionTypeData.name %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
Type:&nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allLattices[cellType].connection[connectionType].type[latticeType].name %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allLattices[cellType].connection[connectionType].type, function(latticeTypeData, key){ %>
                <li><a class="lattice dropdownSelector" data-property="latticeType" data-value="<%= key %>" href="#"><%= latticeTypeData.name %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<% if(allLattices[cellType].connection[connectionType].type[latticeType].parts){ %>
    Part Type: &nbsp;&nbsp;
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allLattices[cellType].connection[connectionType].type[latticeType].parts[partType].name %><span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <% _.each(allLattices[cellType].connection[connectionType].type[latticeType].parts, function(val, key){ %>
                    <li><a class="lattice dropdownSelector" data-property="partType" data-value="<%= key %>" href="#"><%= val.name %></a></li>
                <% }); %>
            </ul>
        </div><br/><br/>
<% } %>
Aspect Ratio:&nbsp;&nbsp;
    <input data-property="aspectRatio" data-key="x" value="<%= aspectRatio.x %>" placeholder="X" class="form-control lattice floatInput" type="text">&nbsp;
    <input data-property="aspectRatio" data-key="y" value="<%= aspectRatio.y %>" placeholder="Y" class="form-control lattice floatInput" type="text">&nbsp;
    <input data-property="aspectRatio" data-key="z" value="<%= aspectRatio.z %>" placeholder="Z" class="form-control lattice floatInput" type="text"><br/><br/>
<% if (connectionType == "gik") { %>
    Part Length:&nbsp;&nbsp;<input data-property="gikLength" value="<%= gikLength %>" placeholder="Length" class="form-control intInput appState" type="text"><br/><br/>
<% } %>
<a href="#" class="clearCells btn btn-block btn-lg btn-danger">Clear All Cells</a><br/>
Num Cells:&nbsp;&nbsp;<%= numCells %><br/>