<li class="dropdown-submenu">
    <a tabindex="-1">UI<span class="pull-right fui-arrow-right"></span></a>
    <ul class="dropdown-menu">
        <li><a class="appState boolProperty" data-property="menuIsVisible" href="#">Menu</a></li>
        <li><a class="appState boolProperty" data-property="scriptIsVisible" href="#">Script</a></li>
        <!--<li><a class="appState boolProperty" data-property="consoleIsVisible" href="#">Console</a></li>-->
        <li><a class="appState boolProperty" data-property="ribbonIsVisible" href="#">Ribbon</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a tabindex="-1">3D UI<span class="pull-right fui-arrow-right"></span></a>
    <ul class="dropdown-menu">
        <li><a class="appState boolProperty" data-property="basePlaneIsVisible" href="#">Sketch Plane</a></li>
        <li><a class="appState boolProperty" data-property="highlighterIsVisible" href="#">Hover Tool</a></li>
        <li><a class="appState boolProperty" data-property="axesAreVisible" href="#">Axes</a></li>
        <li><a class="appState boolProperty" data-property="focusOnLattice" href="#">Center on Lattice</a></li>
        <li><a id="reset3DView" href="#">Reset 3D Navigation</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a tabindex="-1">Rendering<span class="pull-right fui-arrow-right"></span></a>
    <ul class="dropdown-menu">
        <!--<li><a class="appState boolProperty" data-property="renderAmbientOcclusion" href="#">Ambient Occlusion</a></li>-->
        <li><a class="appState boolProperty" data-property="realisticColorScheme" href="#">Realistic Color Scheme</a></li>
        <li><a class="appState boolProperty" data-property="turnOffRendering" href="#">Turn Off Rendering</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a tabindex="-1">Cells<span class="pull-right fui-arrow-right"></span></a>
    <ul class="dropdown-menu">
        <% _.each(allCellModes, function(mode, key){
            if (key == "part" && allLattices[cellType].connection[connectionType].type[latticeType].parts === null) return;  %>
            <li><a class="appState" data-property="cellMode" data-value="<%= key %>" href="#"><% if (cellMode == key) { %><span class="fui-check"></span><% } %><%= mode %></a></li>
        <% }); %>
    </ul>
</li>
